<!DOCTYPE html>

<title> Individual account page </title>

<h1> {{ username }}'s account </h1>

<h2> Your threads </h2>

<form action="/threads">
    <input type="submit" value="Go to Threads">
    </form>

<p>
{% for thread in threads %}

<a href="/threads/{{thread.id}}"> {{ thread.topic }} </a>
{{ thread.created.strftime("%d.%m.%Y %H:%M:%S") }}
<hr>
{% endfor %}

<h2> Your profiles </h2>

<form action="/account/profiles/new" method="GET">
<input type="submit" value="New Profile">
</form>

<p>
{% for profile in profiles %}
<a href="/account/{{username}}/profiles/{{profile.id}}"> {{ profile.profilename }} </a> <br>
Created: {{ profile.created.strftime("%d.%m.%Y %H:%M:%S") }} <br>
Game: {{ profile.game }}
    {% for skin in skins %}
        {% if skin.profile_id == profile.id %}
            Created: {{ skin.created.strftime("%d.%m.%Y %H:%M:%S") }} <br>
            {{ skin.skin_name }} <br>
            {{ skin.skin_price }}
        {% endif %}
    {% endfor %}
<hr>
{% endfor %}
