<!DOCTYPE html>

<title> Create new game profile </title>

<h1> Create new game profile </h1>

<p>
<form action="/account/{{session.username}}/profiles/new/validate" method="POST">
    Profile name: <input type="text" name="profile_name" size="50"> <br>
    Game username: <input type="text" name="game_username" size="50"> <br>
    Game: <input type="text" name="game" size="30"> <br>
    <input type="submit" value="Create">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
