<!DOCTYPE html>

<title> Profiles </title>

<h1> Your game profiles </h1>

<form action="/" method="GET">
    <input type="submit" value="Main Page">
</form>

<form action="/account/{{session.username}}" method="GET">
    <input type="submit" value="Back to Account">
</form>

<form action="/account/{{session.username}}/profiles/new" method="GET">
    <input type="submit" value="New Profile">
</form>

<p>
    {% for profile in profiles %}
    <p>
    <a href="/account/{{session.username}}/profiles/{{profile.id}}"> {{ profile.profile_name }} </a> <br>
    Created: {{ profile.created.strftime("%d.%m.%Y %H:%M:%S") }} <br>
    Game: {{ profile.game }}
        {% for skin in skins %}
            {% if skin.profile_id == profile.id %}
                Created: {{ skin.created.strftime("%d.%m.%Y %H:%M:%S") }} <br>
                {{ skin.skin_name }} <br>
                {{ skin.skin_price }}
            {% endif %}
        {% endfor %}
    {% endfor %}
    