<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title> Profile info </title>
</head>

<body>
  <h2> Game profile info </h2>

  <p>
  <form action="/" method="GET">
    <input type="submit" value="Main Page">
  </form>

  <p>
  <form action="/account/{{session.username}}" method="GET">
    <input type="submit" value="Back to Account">
  </form>

  <p>
  <form action="/account/{{session.username}}/profiles" method="GET">
    <input type="submit" value="Back to Profiles">
  </form>

  <h3> {{profile.game}}: {{profile.game_username}} </h3>

  <p>
    Add new skin to game profile <br>
  <form action="/account/{{session.username}}/profiles/skin/add" method="POST">
    Skin name: <input type="text" name="name"> <br>
    Skin price: <input type="text" name="price"> <br>
    <input type="hidden" name="profile_id" value="{{profile.id}}">
    <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
    <input type="submit" value="Add skin">
  </form>

  <hr>

  <p>
    {{profile.game_username}}'s skins: <br>
  <ul>
    {% for skin in skins %}
    <p>
      <li>
        Name: {{skin.skin_name}} <br>
        Price: {{skin.skin_price}} <br>
        Original owner: {{skin.creator}}
      </li>
      {% endfor %}
  </ul>
</body>

</html>