<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title> Create new game profile </title>
</head>

<body>
  <h1> Create new game profile </h1>

  <p>
  <form action="/" method="GET">
    <input type="submit" value="Main Page">
  </form>

  <p>
  <form action="/account/{{session.username}}/profiles" method="GET">
    <input type="submit" value="Back to Profiles">
  </form>

  <p>
  <form action="/account/{{session.username}}/profiles/new/validate" method="POST">
    Profile name: <input type="text" name="profile_name" size="50" minlength="1" maxlength="50" required> <br>
    Game username: <input type="text" name="game_username" size="50" minlength="1" maxlength="50" required> <br>
    Game: <input type="text" name="game" size="30" minlength="1" maxlength="100" required> <br>
    <input type="submit" value="Create">
    <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
  </form>
</body>

</html>