<!DOCTYPE html>

<title> Profile info </title>

<h2> Game profile info </h2>

<form action="/" method="GET">
    <input type="submit" value="Main Page">
</form>

<form action="/account/{{session.username}}" method="GET">
    <input type="submit" value="Back to Account">
</form>

<h3> {{profile.game}}: {{profile.game_username}} </h3>

<p>
Add new skin to game profile <br>
<form action="/account/{{session.username}}/profiles/skin/add" method="POST">
    Skin name: <input type="text" name="name"> <br>
    Skin price (integer): <input type="text" name="price"> <br>
    <input type="hidden" name="profile_id" value="{{profile.id}}">
    <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
    <input type="submit" value="Add skin">
</form>

<hr>

{% for skin in skins %}
<p>
Original owner: {{skins.owner_id}} <br>
Name: {{skins.skin_name}} <br>
Price: {{skins.skin_price}}
{% endfor %}