<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title> Skins </title>
</head>

<body>
  <h1> All skins </h1>

  <p>
  <form action="/" method="GET">
    <input type="submit" value="Main Page">
  </form>

  {% for skin in skins %}
  <p>
    <b>Game:</b> {{skin.game}} <br>
    <b>Name:</b> {{skin.skin_name}} <br>
    <b>Price:</b> {{skin.skin_price}} euros <br>
    <b>Owner:</b> {{skin.owner}} <br>
    <b>Added to hub:</b> {{skin.created.strftime("%d.%m.%Y, %H:%M:%S")}} <br>
    <hr>
    {% endfor %}
</body>

</html>