<!DOCTYPE html>

<title> Thread listing </title>

<h1> Discussion board </h1>

<p>
    <form action="/" method="GET">
        <input type="submit" value="Main Page">
    </form>

{% if session.username %}
<p>
    <form action="/threads/new" method="GET">
        <input type="submit" value="New Discussion">
    </form>
{% endif %}

<hr>
{% for thread in threads %}
<a href="/threads/{{ thread.id }}"> {{ thread.topic }} </a> <br>
Created at: {{ thread.created.strftime("%d.%m.%Y %H:%M:%S") }} <br>
Creator: {{ thread.username }}
<hr>
{% endfor %}